/*Mobile First - All these CSS styles are applied to SMALL SCREENS */

/*
Color Palette spooky
Midnight Black:     #181818
Ghost White:        #F5F5F5
Bone White:         #ccc3b0
Pumpkin Orange:     #FF7518
Ash Grey:           #444444
Spooky Red:         rgba(255,117,24,0.15)

other...
Dark Grey: #232526
light grey: #414345
*/
/*COLOUR THEME CHANGED FROM RED AND BLACK (as in design documents) after I was pointed out the unfortunate meaning of those colours in Hawkes Bay*/

/*Remove all default CSS styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/*ELEMENTS*/
body{
    background: #444444;
    color: #F5F5F5;
    overflow-x: hidden;
}

/*CLASSES*/
/*HEADER*/
.header-bar{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex-flow: row;
}

.header-text{
    width: 80%;
    min-height:15vh;
    
    color: #ccc3b0;
    background-color: #181818;
    text-shadow: 8px 8px 8px #444444;

    font-size:22px;
    text-decoration: none;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-navbox{
    background-color: #444444;
    width: 20%;
    min-height: 15vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbox-button{
    width: 100%;
    height: 100%;
    color: #ccc3b0;
    background-color: #181818;
    text-shadow: 8px 8px 8px #444444;
    border:0px;
    font-size: 2em;
}

.navbox-button:hover{
    color: #181818;
    background-color: #FF7518;
    transition: all 0.2s ease;
}

/*MAIN*/
.main-container{
    font-size: small;
    align-items: center;
    justify-content: center;
    padding:5%;
    text-align: center;
    min-height: 70vh;
    color: #F5F5F5;
    background: rgba(24,24,24,0.92);
    border-radius: 18px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.10);
    margin: 2vh;
    width: 90%;  
}

.main-container h1, .main-container h2, .main-container h3, .main-container h4 {
    color: #FF7518;
    background-color: rgba(255,117,24,0.15);
    border: #444444;
    border-radius: 10px;
}

.aboutus-container{
    font-size: small;
    align-items: center;
    justify-content: center;
    padding:5%;
    min-height: 70vh;
    text-align: center;
    color: #F5F5F5;
    background: rgba(24,24,24,0.92);
    border-radius: 18px;
    box-shadow: 0 4px 24px rgba(0,0,0,0.10);
    margin: 2vh;
    width: 90%;
    margin-bottom: 3vh;
}

.aboutus-container h1, .aboutus-container h2, .aboutus-container h3, .aboutus-container h4 {
    color: #FF7518;
    background-color: rgba(255,117,24,0.15);
    border: #444444;
    border-radius: 10px;
}

.aboutus-container img { /*About Us page img*/
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    margin-bottom: 20px;
    border: 2px solid #FF7518;
    border-radius: 15px;
}

.main-container p { /*About Us page paragraph*/
    font-size: 16px;
}

.story-card{
    background: #181818;
    border: 2px solid #FF7518;
    border-radius: 14px;
    box-shadow: 0 2px 12px rgba(179,18,23,0.08);
    margin: 1.5em auto;
    padding: 10px;

    width: 100%; /*Scale this for larger screens*/
}
.story-card p{
    text-align: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.story-content{
    display: flex;
    gap: 5%;
}

.story-content img{
    border: 1px solid #FF7518;
    border-radius: 5px;
    height: 75px;
    width: 75px;
}
/*FOOTER*/
.footer-bar{
    position:static;
    bottom: 0;
    height: 10vh;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid #444444;
    background-color: #181818;
}
.footer-bar div{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 100%;
}

.footer-bar div a{ /*Nav Buttons*/
    height: 100%;
    align-items: center;
    display: flex;
    color: #FF7518;
    background-color: #181818;
    border:0px;
    font-size: large;
    padding-left:10px;
    padding-right:10px;
    text-decoration: none;
    box-sizing: border-box;
}
.footer-bar div a:hover{
    background-color: #FF7518;
    color: #181818;
    transition: all 0.2s ease;
}


/*NAV SIDEBAR*/


.navsidebar {
    height: 80vh;
    min-width: 20vw;
    max-width: 45vw;
    position: absolute;
    z-index: 1;
    top: 13vh;
    right: 0;
    background-color: #181818;
    border: 5px solid rgba(255,117,24,0.5);
    overflow-x: hidden;
    border-radius: 15px;
    padding-top: 50px;
    padding-left: 5px;
    padding-right: 5px;
    opacity: 0;
    pointer-events: none;
    transform: translateX(100%);
    transition: opacity 0.3s, transform 0.3s;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.navsidebar h3{
    width: 80%;
    color: #FF7518;
    background-color: rgba(255,117,24,0.15);
    border: #444444;
    border-radius: 10px;
}

.navsidebar a{
    padding: 10px 0;
    text-decoration: none;
    font-size: 1em;
    color: #ccc3b0;
    width: 80%;
    border-bottom: 1px solid #444444;
}
.navsidebar a:hover{
    background-color: #FF7518;
    color: #181818;
    transition: all 0.2s ease;
}
.navsidebar.active {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
}

.navbar-search {
    width: 80%;
    padding: 8px;
    margin-bottom: 2em;

    border: 0px solid;
    background: #444444;
    color: white;
    box-shadow: 0 2px 8px #181818;
    border-radius: 20px;

    font-size: 1em;
    outline: none;
    transition: border-color 0.2s;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.navbar-search:focus {
    transform: scale(1.05);
    transition: transform 0.2s;
}


/*-----CONTACT US FORM-----*/
.contact-form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}
.contact-form label {
    width: 60%;
    font-weight: bold;
    font-size: 1.5em;
    color: #FF7518;
    background-color: rgba(255,117,24,0.15);
    border: #444444;
    border-radius: 10px;
}
.contact-form input, .contact-form textarea {
    width: 60%;
    padding: 8px;
    color: white;
    font-weight: bold;
    background-color: #444444;
    border: 0px solid;
    border-radius: 10px;
    font-size: 1em;
    resize: vertical;
}
.contact-form button {
    width: 20%;
    padding: 10px;
    color: #181818;
    background-color: #FF7518;
    border:#FF7518 solid 2px;
    border-radius: 10px;
    font-size: 1em;
    font-weight: bold;
    cursor: pointer;
}
.contact-form button:hover {
    background-color: #181818;
    color:#FF7518;
    transition: all 0.2s ease;
}

/*-----CONTACT US COMMENTS-----*/
.message{
    background-color: #444444;
    border: 0px solid;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.message-title{
    font-size: 1.4em;
    font-weight: bold;
    color: #FF7518;
}

.message-date{
    font-size: 1em;
    color: #ccc3b0;
}

.message-content{
    font-size: 1.2em;
    color: #F5F5F5;
}

/*----------------------------------------------------------*/
/*All the below CSS styles will be applied for MEDIUM SCREENS */
@media screen and (min-width: 426px) {
    /*All styles here are for medium screens */
    .header-text{
        font-size: xx-large;
        width: 85%;
    }

    .header-navbox{
        width: 15%;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main h2 {
        font-size: xx-large;
    }

    /*main container font scaling*/
    .main-container{
        width: 90vw;
    }
    .main-container h1, .main-container h2, .main-container h3, .main-container h4 {
        font-size: 2em;
    }
    .main-container p {
        font-size:2em;
    }

    .aboutus-container{
        width: 90vw;
    }
    .aboutus-container h1, .aboutus-container h2, .aboutus-container h3, .aboutus-container h4, .aboutus-container p {
        font-size: 2em;
    }

    .footer-bar div{
        display: flex;
        gap: 20px;
    }

    .footer-bar div a{ /*Nav Buttons*/
        font-size: xx-large;
    }

    .navsidebar {
        font-size: 1em;
    }

    .story-card{
        width: 75%; /*Scale this for larger screens*/
        font-size: 0.8em;
    }

}


/*----------------------------------------------------------*/
/*All the below CSS styles will be applied for BIG SCREENS */
@media screen and (min-width: 769px) {
    /*All styles here are for big screens */
    .header-text{
        font-size:xxx-large;
        width: 90%;
    }
    .header-navbox{
        width: 10%;
    }

    main {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    main h2 {
        font-size: xx-large;
    }

    /*main container scaling*/
    .main-container{
        display: block;
        width: 70vw;
    }
    .main-container h1, .main-container h2, .main-container h3, .main-container h4, .main-container p {
        font-size: 3em;
    }

    /*aboutus container scaling*/
    .aboutus-container{
        display: block;
        width: 70vw;
    }
    .aboutus-container h1, .aboutus-container h2, .aboutus-container h3, .aboutus-container h4, .aboutus-container p {
        font-size: 3em;
    }

    .navsidebar {
        font-size: 3em;
    }

    .story-card{
        width: 50%; /*Scale this for larger screens*/
        font-size: 0.8em;
    }

}